<ul class="nav">
  <li><a href="/">Go to Home Page</a></li>
</ul>

<link rel="stylesheet" href="../assets/style.css" />

<h1 style="margin: 20px; display: flex; justify-content: center">
  <%=message%>
</h1>
